<form method="POST" action="addAction">
    Name: <input type='text' name="name" />
    Phone NO: <input type='text' name="phone" />
    Email: <input type='text' name="email" />
    Address: <input type='text' name="address" />

    <button type="submit">Save</button>

</form>