<form method="POST" action="/article/addAction">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" class="form-control" iaria-describedby="name">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" name="description" class="form-control" iaria-describedby="description">
    </div>

    <div class="mb-3">
        <label for="link" class="form-label">Link</label>
        <input type="text" name="link" class="form-control" iaria-describedby="link">
    </div>


    <div class="mb-3">
        <label for="position" class="form-label">Position</label>
        <input type="number" name="position" class="form-control" iaria-describedby="position">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>